<div class="s-home-page" style="text-align: center"> <img class="s-home-image" src="./images/home-carousels-1.png" alt="..."> <img class="s-home-image" src="./images/home-carousels-2.png" alt="..."> <img class="s-home-image" src="./images/home-carousels-3.png" alt="..."> <img class="s-home-image" src="./images/home-carousels-4.png" alt="..." style="margin-top: 2px"> <img class="s-home-image" src="./images/home-carousels-5.png" alt="..." style="margin-top: 2px"> <img class="s-home-image" src="./images/home-carousels-6.png" alt="..."> <img class="s-home-image" src="./images/footer-bg.png" alt="..."> </div> <style type="text/css">.s-home-page {
        background: #FFF3FE;
        position: relative;
        padding-top: 0px;
        min-height: 100%;
    }
    
    .s-home-image {
        max-width: 100%;
    }
    
    .s-carousel {}
    
    .s-carousel .carousel-indicators {
        bottom: 7px;
    }
    
    .s-carousel .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-color: #B33A9B;
    }
    
    .s-carousel .carousel-indicators li.active {
        background: #B33A9B;
        margin: 1px;
    }
    
    .s-carousel .carousel-inner {}
    
    .s-carousel .carousel-inner .item {
        text-align: center;
        background: #FFFFFF;
    }
    
    .s-carousel .carousel-inner .item img {
        display: initial;
        min-height: 200px;
    }
    
    .s-carousel .carousel-control {
        width: 40px;
        background: none;
        display: none
    }
    
    .s-carousel:hover .carousel-control {
        display: block;
    }
    
    .s-carousel .carousel-control.left {
        color: #B33A9B;
    }
    
    .s-carousel .carousel-control.right {
        color: #B33A9B;
    }
    
    @media(max-width: 400px) {
        .s-carousel .carousel-inner .item img {
            min-height: auto;
        }
    }</style>